{% extends "base.html" %}
{% load static %}

{% block tabs %}
{% include "includes/tabs.html" with active_tab='about' %}
{% endblock %}
{% block carousel_content %}
<div class="container ">
  <div class="text-container">
    <div class="row ">
      <div class="col-xs-1 col-md-2 ">
        <div class="fa-container"><i class="fa fa-lightbulb-o my-custom-size"></i></div>
      </div>
      <div class="col-xs-11 col-md-10">
        <h3>Think of an  event!</h3>
      </div>
    </div>
    <div class="about-hr"></div>
  
    <div class="row ">
      <div class="col-xs-1 col-md-2 ">
        <div class="fa-container"><i class="fa fa-calendar my-custom-size"></i></div>
      </div>
      <div class="col-xs-11 col-md-10">
        <h3>Create an event</h3>
      </div>
    </div>
    <div class="about-hr"></div>

    <div class="row ">
      <div class="col-xs-1 col-md-2 ">
        <div class="fa-container"><i class="fa fa-users my-custom-size"></i></div>
      </div>
      <div class="col-xs-11 col-md-10">
        <h3>Meet</h3>
      </div>
    </div>
    <div class="about-hr"></div>

    <div class="row ">
      <div class="col-xs-1 col-md-2 ">
        <div class="fa-container"><i class="fa fa-photo my-custom-size"></i></div>
      </div>
      <div class="col-xs-11 col-md-10">
        <h3>Upload photos</h3>
      </div>
    </div>
    <div class="about-hr"></div>    

    <div class="row ">
      <div class="col-xs-1 col-md-2 ">
        <div class="fa-container">
          <i class="fa fa-hand-o-up my-custom-size2"></i>
          <i class="fa fa-hand-o-down my-custom-size2"></i>
        </div>
      </div>
      <div class="col-xs-11 col-md-10">
        <h3>Review event & participants</h3>
      </div>
    </div>

  </div>
</div>

{% endblock %}
