{% extends "base.html" %}
{% load static %}

{% block tabs %}
  {% include "includes/tabs.html"  %}
{% endblock %}
{% block content %}
       <div class="login_secondary">
         <h2>You have to login to access a link below:</h2> 
         <h3>{{ next }}</h3>
          <form name="SecondaryLoginForm" action="/auth/" method="post">
           {% csrf_token %}
           <input type="username" name="username"  placeholder="Username"></br>
           <input type="password" name="password" placeholder="Password"></br>
           <input type="hidden" name="next" value="{{ next }}"/>
           <button type="submit">Sign in</button><br>
         </form>
         <h2>Dont have an account yet?
          <a href="/register_profile">Register a new user here</a>
          and and join SetAndMeet community now!
          </h2>
       </div>
{% endblock %}