{% extends "base.html" %}
{% load static %}

{% block my_js_scripts %}
  <script type="text/javascript" src="{% static "js/script.js" %}"></script>
{% endblock %}

{% block tabs %}
  {% include "includes/tabs.html" with active_tab='members' %}
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <a href="{% url 'Profile:profile_detail' profile.user.id %}">
              <img  src="../../{{ profile.avatar }}" class="img-circle" height="150" width="150"/>
          </a>
          <span style="margin: 20px; font-size:40px;">
            {{ profile.user.username }}
            <br />
            Rating of: 
            <span class="rating" title="Average rate of {{profile_rating}} stars">
                {% for i in "12345" %}
                  {% if i|add:0 <  profile_rating|add:1 %}
                  <img src="{% static "img/star.png" %}" height="20" width="20">
                  {% else %}
                  <img src="{% static "img/star-grey.png" %}" height="20" width="20">
                  {% endif %}
                {% endfor %}
            </span>
          </span>
          <br />
          <button type="button" class=font-size:30px;"btn btn-default">Show friends</button>
          <button type="button" class="btn btn-primary">Message</button>
          {% if user.pk == profile.user.pk %}
          <!--  Don't display anything-->
          {% else %}
            {% if user.profile in profile.friends.all %}
                <a href="{% url 'Profile:remove_friend' profile.user.id %}" class="btn btn-danger">Remove friend</a>
            {% else  %}
              <a href="{% url 'Profile:add_friend' profile.user.id %}" class="btn btn-success">Invite</a>
            {% endif %}
          {% endif %}
          <button type="button" class="btn btn-warning">Gallery</button>
      </div>
</div>
<div class="row">
  <div class="col-md-8">
      <div class="slider">
        <div class="slider-title">
          List of events
        </div>
          <ul class="slider-faq">
            {% if hosted_events %}
              {% for event in hosted_events %}
              <li class="slider-q"><img src="{% static "img/arrow.png" %}" height="20" width="20"> {{event.name}}</li>
              <li class="slider-a">
                {{event.description}}
                <a href="{% url 'Event:event_detail' event.id %}">See more</a>
              </li>
              {% endfor %}
              {% else %}
                <li class="slider-q"><img src="{% static "img/arrow.png" %}" height="20" width="20"> This user has no hosted events</li>
                <li class="slider-a">Hosting events is simple. Why not to try now?</li>
            {% endif %}
          </ul>
      </div>
    </div>
  <div class="col-md-4">
    <!-- galery -->
    <div class="galery">
      <div class="galery-title">
        List of friends
      </div>
      <div class="row">
      {% for friend in profile.friends.all %}
          <div class="col-md-4">
            <a href="{% url 'Profile:profile_detail' friend.user.id %}">
              <img  src="../../{{ friend.avatar }}" class="img-circle" height="70" width="70"  title="{{ friend.user.username }}"/>
            </a>
              {% if user.id == profile.user.id %}
                <div style="float: left;">
                  <a data-toggle="tooltip" data-placement="top" title="Remove from friends" href="{% url 'Profile:remove_friend' friend.user.id %}"><span class='glyphicon glyphicon-remove icon-danger'></span></a>
                </div>
              {% endif %}
            </div>
          {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
          {% endif %}
      {% endfor %}
      </div>
      <a href="#">See all</a>
    </div>
  </div>
</section>
<script>
// For showing tooltip before deletion of a user from list of friends
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}
