<ul class="nav navbar-nav">
 <li class="{% if active_tab == 'home' %} active{% endif %} menu-button"><a href="/">Home</a></li>
 <li class="{% if active_tab == 'members' %} active{% endif %} menu-button"><a href="/profile_list">Members</a></li>
 <li class="{% if active_tab == 'upcoming_events' %} active{% endif %} menu-button"><a href="/upcoming_event_list">Upcoming Events</a></li>
  <li class="{% if active_tab == 'archive' %} active{% endif %} menu-button"><a href="/historical_event_list">Archive</a></li>
 <li class="{% if active_tab == 'about' %} active{% endif %} menu-button"><a href="/about">About</a></li>
 <li class="{% if active_tab == 'contact' %} active{% endif %} menu-button"><a href="/contact">Contact</a></li>
</ul>
