<ul class="nav navbar-nav">
 <li class="{% if active_tab == 'home' %} active{% endif %}"><a href="/">Home</a></li>
 <li class="{% if active_tab == 'members' %} active{% endif %}"><a href="/profile_list">Members</a></li>
 <li class="{% if active_tab == 'events' %} active{% endif %}"><a href="/event_list">Events</a></li>
 <li class="{% if active_tab == 'about' %} active{% endif %}"><a href="/about">About</a></li>
 <li class="{% if active_tab == 'contact' %} active{% endif %}"><a href="/contact">Contact</a></li>
</ul>
