/*
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
*/
*{
	margin:0;
	padding:0;
}
/*Header poczatek*/
header{
	background-image: linear-gradient(#04519b, #044687 60%, #033769);
	color:#fff;
	min-height:100px;
	padding-top:25px;
}
header .logo{
	float:left;
}
header form{
	float:right;
}

section{
	width: 80%;
}
/*Dropdown menu START*/
/*http://www.w3schools.com/howto/howto_js_dropdown.asp*/
/* Dropdown Button */
.dropbtn-left {
	 background-color: #4CAF50;
	 color: white;
	 padding: 16px;
	 font-size: 16px;
	 border: none;
	 cursor: pointer;
	 margin-right: 0px;
	 border-right: none;
}
.dropbtn-right {
	 background-color: #4CAF50;
	 color: white;
	 padding: 16px;
	 font-size: 16px;
	 border: none;
	 cursor: pointer;
	 margin-left: -5px;
	 border-left: none;
}

/* Dropdown button on hover & focus */
.dropbtn-left:hover,.dropbtn-right:hover, .dropbtn:focus {
	 background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	 position: relative;
	 display: inline-block;
	 z-index:9; /*Show the whole dropdown on top ofevery other div*/
	 margin-left: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	 display: none;
	 position: absolute;
	 background-color: #f9f9f9;
	 min-width: 160px;
	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
	 color: black;
	 padding: 12px 16px;
	 text-decoration: none;
	 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*DROPDOWN MENU END*/
.login_secondary{
	text-align: center;
}

.login_secondary input,button{
	margin:10px;
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
}
/*Showing username, avatar and logout information*/
.welcome-group{
	float:right;
}

.header-text{
		margin-right: 100px;
}
.header-text a:link{
    color:#FFFFFF;
}
.header-text a:visited{
    color:#fff;
}
.header-text a:hover{
    color:#56C4E8;
}



/*Header koniec*/
/*AVATAR SETTINGS START*/
.avatar-medium{
	width: 50px;
 height: 50px;
}
.avatar-medium img{
	height: 100%;
	width: 100%;
}
.avatar-small{
	width: 30px;
 height: 30px;
}
.avatar-small img{
	height: 100%;
	width: 100%;
}
/*For images in shouts*/
#shouts img{
	width: 50px;
 	height: 50px;
}
/*AVATAR SETTINGS END*/
/*Search for Users START*/

.search-query{
	width:50%;
	max-width:50%;
	float:right !important;
	margin-left: 20px;
}
#user-search-input{
	margin: 10px 0;
}

/*Search for Users END*/

/*Shoutbox START*/
#shoutbox{
	width:750px;
	margin: 50px auto;
	border: #ddd 1px solid;

}
#shoutbox h1{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 1.7em;

}
#shouts{
	height: 200px;
	border: #444 1px solid;
	overflow:auto;
	max-height: 400px;
	margin: 40px;
	padding: 15px;
}

#shouts li{
	list-style: none;
	line-height: 1.7em;
}
/*Event detail not logged START*/
.event-description{
	background: #f2f2f3;
	padding: 40px 20px;
	text-align: center;
}
/*Event detail not logged END*/


/*Shoutbox END*/


/*GOOGLE MAPS START*/
/*https://developers.google.com/maps/documentation/javascript/adding-a-google-map*/
#map {
			 height: 400px;
			 width: 100%;
			}

/*GOOGLE MAPS END*/


/*For small Resolution*/
@media(max-width: 991px) {
	section{
		width: 100%;
	}
  header form{
    float:none;
    margin-top: 20px;
    text-align: center;
  }
	.search-query{
		width:100%;
		max-width:100%;
	}
}
/*For small Resolutuion END*/
/*Panele z wydarzeniami*/
.panel-title {
	border-bottom: 1px solid grey;
}
.panel-default h3{
	text-align: center;
}
.panel-default:hover{
	background-color: #f1f1f1;
}
/*Panele z wydarzeniami END*/


/* Ikony font Awesome*/
.icon-background1 {
    color: #fff;
}

.icon-background2 {
    color: #000;
}
.icon-background3 {
    color: #ddd;
}
.custom-icon {
  font-size:30px;
  background:#666;
  background:rgba(0,0,0,0.3);
  padding:30px;
  -webkit-border-radius:1100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:6px solid #fff;
  color:#fff;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:60px;
  height:60px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {
  background:rgba(0,0,0,0.6);
}
.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}
/* Ikony font Awesome END*/

/*Carousel settings*/
.carousel-inner img {
  margin: auto;
}
/*Carousel settings END */

/*pre-scrollable*/
.pre-scrollable {
  max-height: 500px;
  overflow-y: scroll;
}
/*pre-scrollable END*/


/* MESSAGES */
.message-div {
  display: table;
  margin: auto;
}
/*My slider*/
.slider{
		font-family:'Tahoma', sans-serif;
		color:#666;
		background:#f8f8f8;
		line-height: 1.5em;
		width:80%;
		margin:30px 0;
		overflow: auto;
}
.slider-title ul, li{
	list-style: none;
}
.slider-title{
	height:50px;
	background:#24497F;
	font-weight: bold;
	color:#fff;
	font-size: 25px;
	text-align: center;
	padding: 10px;
}
.slider-faq li{
	padding:10px;
}

.slider-q{
	float:left;
	background: #eee;
	font-weight: bold;
	color:#333;
	cursor: pointer;
	border-bottom:1px #ddd solid;
	font-size:110%;
	width: 100%;
}
.slider-a{
	float:left;
	background: #f9f9f9;
	color:#666;
	line-height: 1.7em;
	width: 100%;
}

.slider-faq .slider-a{
	display: none;
}

.rotate{
	transform: rotate(90deg);
	/*Adding vendor specific selectors*/
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}


/*My slider END*/

/* GALERY */
.galery-title{
	margin-top: 30px;
	height:50px;
	background:#24497F;
	font-weight: bold;
	color:#fff;
	font-size: 25px;
	text-align: center;
	padding: 10px;
}
/*Galery END*/
