/*
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
*/
/*Header poczatek*/
header{
	background-image: linear-gradient(#04519b, #044687 60%, #033769);
	color:#fff;
	min-height:100px;
	padding-top:25px;
}
header .logo{
	float:left;
}
header form{
	float:right;
}
/*Header koniec*/


/*For small Resolution*/
@media(max-width: 991px) {
  header form{
    float:none;
    margin-top: 20px;
    text-align: center;
  }
}

/*For small Resolutuion END*/
