/*
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
*/
/*Header poczatek*/
header{
	background-image: linear-gradient(#04519b, #044687 60%, #033769);
	color:#fff;
	min-height:100px;
	padding-top:25px;
}
header .logo{
	float:left;
}
header form{
	float:right;
}
/*Header koniec*/


/*For small Resolution*/
@media(max-width: 991px) {
  header form{
    float:none;
    margin-top: 20px;
    text-align: center;
  }
}
/*Panele z wydarzeniami*/
.panel-title {
	border-bottom: 1px solid grey;
}
.panel-default h3{
	text-align: center;
}
.panel-default:hover{
	background-color: #f1f1f1;
}
/*Panele z wydarzeniami END*/
/*For small Resolutuion END*/
