{% extends "base.html" %}
{% load static %}


{% block content %}
<section>
  <div class="message-div">

        <div class="row">
          <div class="col-md-12"><h1>{{ event.name }}</h1></div>
        </div>
        <div class="row">
          <div class="col-md-1"><a href="{% url 'Profile:profile_detail' user.id %}"> <img  src="../../{{ user.profile.avatar.url }}" class="img-circle"  height="50" width="50"/></a></div>
        </div>
  </div>
  <div class="container">
  <h2>Current participants</h2>
  <ul class="list-group">
    {% for profile in event.profiles.all %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <a style="display: table-cell;vertical-align: middle;" href="{% url 'Profile:profile_detail' user.id %}">{{profile.user.username}} </a>
          </div>
          <div class="col-md-3">
            <span class="badge alert-success">12</span>
          </div>
          <div class="col-md-6">
            <a style="float:right;" href="{% url 'Profile:profile_detail' profile.user.id %}"> <img  src="../../{{ profile.avatar.url }}" class="img-circle"  height="30" width="30"/></a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
</section>
{% endblock %}
