{% extends "base.html" %}
{% load static %}
{% load my_custom_tags %}
<!-- Importing specific JS scripts HERE -->
{% block carousel_content %}
  <script type="text/javascript" src="{% static "js/rating_system.js" %}"></script>
{% endblock %}

{% block tabs %}
  {% include "includes/tabs.html" with active_tab='events' %}
{% endblock %}
{% block content %}
<section>
  <div class="message-div">
        <div class="row">
          <div class="col-md-12"><h1>How was this Event? Please share your comment!</h1></div>
        </div>
        <div class="row">
          <div class="col-md-8"> <span style="font-size: 1.8em;background:#99ff99;">{{ event.name }}   </span>
            <span class="rating">
                {% for i in "12345" %}
                  {% if i|add:0 <  event_rating|add:1 %}
                  <div class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
                  {% else %}
                  <div class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></div>
                  {% endif %}
                {% endfor %}
                = {{ event_rating }} stars.
            </span>
          </div>
          <div class="col-md-8"> 
          </div>
        </div>
  </div>
  <div id="wydarzenie" numer_wydarzenia="{{ event.pk }}" logged_user_pk="{{ user.id }}"></div>
  <!-- http://racingtadpole.com/blog/django-ajax-and-jquery/ -->
  <div class="container">
  <h2 >Your scoreboard:</h2>
  <ul class="list-group">
       <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <h4><a href="{% url 'Event:event_detail' event.id %}">  {{ event.name }} </a></h4>
          </div>
          <div class="col-md-9">
            <div class="event-rating-select">
              <ul>
               {% for i in "12345" %}
                  {% if i|add:0 <  event_rating|add:1 %}
                  <li class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-star-empty"></span></li>
                  {% else %}
                  <li class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></li>
                  {% endif %}
                {% endfor %}                   
              </ul>
              <div class = "event-rev-btn-submit">
               <div class="btn btn-default">Send Event rating!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </li>
    {% for profile in event.profiles.all %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <a style="display: table-cell;vertical-align: middle;" href="{% url 'Profile:profile_detail' profile.user.id %}">{{profile.user.username}} </a>
            <div class="avatar-small" style="float:left;" >
              <a  href="{% url 'Profile:profile_detail' profile.user.id %}"> <img  src="../../{{ profile.avatar.url }}" class="img-circle"/></a>
            </div>
          </div>
          <div class="col-md-9">
            <div  already_rated="{{already_rated|lookup:forloop.counter0}}" average-rating="{{profile_ratings|lookup:forloop.counter0}}" user_id = "{{ profile.user.id }}" class="profile-rating-select">
              <ul>
                <!-- Create a temporary variable name. -->
                {% with profile_ratings|lookup:forloop.counter0 as average %} 
                <!-- Loop 5 times as there are 5 stars in rating system. -->
                  {% for i in "12345" %}
                    {% if i|add:0 < average|add:1  %}
                    <li class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-star-empty"></span></li>
                    {% else %}
                    <li class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></li>
                    {% endif %}
                  {% endfor %}   
                {% endwith %}    
              </br>Average  rating:{{profile_ratings|lookup:forloop.counter0}} stars!</br>
              Number of reviews: {{no_of_profile_ratings|lookup:forloop.counter0}} 
                <div  class = "profile-rev-btn-submit {{ profile.user.id }}">
                  <div class="btn btn-default">SHOW USER ID:</div>
                </div>                                      
              </ul>
            </div>

        </div>
          <div class="col-md-6">
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
</section>

<div id="shoutbox">
  <h1>Historical Shoutbox(changes disabled)</h1>

      <ul>
        <div id="shouts">
        {% for shout in event.shout_set.all %}
          <!-- <li>{{ shout.date_created|date:'Y-m-d H:i' }}   <span style="color:blue;font-weight:bold;font-size:1.2em;"> {{ shout.author }} </span> {{ shout.text }} </li> -->
          <li>
            <!-- Create a now variable -->
            {% now "Y-m-d" as todays_date %}
            <!-- If message was posted today: -->
            {% if todays_date <= shout.date_created|date:"Y-m-d" %}
              {{ shout.date_created|date:'H:i' }}
            <!-- <span style="color:blue;font-weight:bold;font-size:1.2em;"> {{ shout.author }} </span> -->
            <!-- Message was posted in previous days: -->
            {% else %}
              {{ shout.date_created|date:'Y-m-d H:i' }}
            {% endif %}
            <a href="{% url 'Profile:profile_detail' shout.author.user.id %}"> <img  src="../../{{ shout.author.user.profile.avatar.url }}" class="img-circle"   title="{{shout.author.user.username}}" /></a>
            {{ shout.text }}
            </br>
          </li>

        {% endfor %}
        </div>
      </ul>
</div>
{% endblock %}
