{% extends "base.html" %}
{% load static %}

{% block my_js_scripts %}

<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyApgBwHhWwbYLOLuj_0Dv3hMbkT6oM7a_0"></script>
<script type="text/javascript" src="/static/geoposition/geoposition.js"></script>



{% endblock %}
{% block tabs %}
  {% include "includes/tabs.html" with active_tab='events' %}
{% endblock %}
{% block content %}
<section>
  <!-- <form method="POST" class="event-create-form">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="save btn btn-default">Save</button>
    </form> -->
    <form action="." method="post">
    {% csrf_token %}
    {{ location_form.as_p }}
    {{ event_form.as_p }}
    <input type="submit" value="Create">
</form>
</section>

{% endblock %}


{% block footer_scripts %}
<!-- http://vitalets.github.io/combodate/     Chck for some tips how to implement JS-->
<!-- http://xdsoft.net/jqplugins/datetimepicker/      Actual script that is used-->
<script src="{% static 'js/jquery.datetimepicker.full.js' %}"></script>
<link rel="stylesheet" type="text/css"  href="{% static 'css/jquery.datetimepicker.min.css' %}" >
<script>
$(function(){
    $('#id_form1-date_start').datetimepicker();
});
$(function(){
    $('#id_form1-date_end').datetimepicker();
});
</script>

{% endblock %}
