{% extends "base.html" %}
{% load static %}
<!-- Importing specific JS scripts HERE -->
{% block my_js_scripts %}
  <script type="text/javascript" src="{% static "js/script.js" %}"></script>
  <script type="text/javascript" src="{% static "js/shout.js" %}"></script>
{% endblock %}


{% block carousel_content %}
{% endblock %}

{% block tabs %}
  {% include "includes/tabs.html" with active_tab='events' %}
{% endblock %}
{% block content %}
<section>
  <div class="message-div">
        <div class="row">
          <div class="col-md-12"><h1>{{ event.name }}</h1></div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="avatar-medium">
                <!-- <a href="{% url 'Profile:profile_detail' user.id %}"> <img  src="../../{{ user.profile.avatar.url }}" class="img-circle"  height="50" width="50"/></a> -->
                <a href="{% url 'Profile:profile_detail' user.id %}"> <img  src="../../{{ user.profile.avatar.url }}" class="img-circle"/></a>
            </div>
          </div>
        </div>
  </div>
  <div id="wydarzenie" numer_wydarzenia="{{ event.pk }}"></div>
  <!-- http://racingtadpole.com/blog/django-ajax-and-jquery/ -->
  <div class="container">
    <div class ="col-md-9"
    <h2 >Current participants</h2>
    <ul class="list-group">
      {% for profile in event.profiles.all %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-3">
              <a style="display: table-cell;vertical-align: middle;" href="{% url 'Profile:profile_detail' profile.user.id %}">{{profile.user.username}} </a>
            </div>
            <div class="col-md-3">
            {% if forloop.counter  < event.person_limit %}
              <span class="badge alert-success">{{ forloop.counter }} / {{ event.person_limit }}</span>
            {% else %}
              <span class="badge alert-danger">{{ forloop.counter }} / {{ event.person_limit }}</span>
            {% endif %}
            </div>
            <div class="col-md-6">
              <div class="avatar-small" style="float:right;" >
                <a  href="{% url 'Profile:profile_detail' profile.user.id %}"> <img  src="../../{{ profile.avatar.url }}" class="img-circle"/></a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <div id="shoutbox">
      {% now "Y-m-d" as todays_date %}
      {% if  todays_date < event.date_end|date:"Y-m-d" %}
        <h1>Shoutbox</h1>
        {% else %}
        <h1>Historical Shoutbox(changes disabled)</h1>
        {% endif %}
          <ul>
            <div id="shouts">
            {% for shout in event.shout_set.all %}
              <!-- <li>{{ shout.date_created|date:'Y-m-d H:i' }}   <span style="color:blue;font-weight:bold;font-size:1.2em;"> {{ shout.author }} </span> {{ shout.text }} </li> -->
              <li>
                <!-- Create a now variable -->
                
                <!-- If message was posted today: -->
                {% if todays_date <= shout.date_created|date:"Y-m-d" %}
                  {{ shout.date_created|date:'H:i' }}
                <!-- <span style="color:blue;font-weight:bold;font-size:1.2em;"> {{ shout.author }} </span> -->
                <!-- Message was posted in previous days: -->
                {% else %}
                  {{ shout.date_created|date:'Y-m-d H:i' }}
                {% endif %}
                <a href="{% url 'Profile:profile_detail' shout.author.user.id %}"> <img  src="../../{{ shout.author.user.profile.avatar.url }}" class="img-circle"   title="{{shout.author.user.username}}" /></a>
                {{ shout.text }}
                </br>
              </li>

            {% endfor %}
            </div>
          </ul>
          {% now "Y-m-d hh:mm" as todays_date %}
          {% if  todays_date < event.date_end|date:"Y-m-d hh:mm" %}
            <form id="#myform">{% csrf_token %}
                <label>Shout text: </label>
                <input type="text" id="shout"/>
                <input type="submit" id="submit" value="SHOUT!"/>
            </form>
          {% endif %}
      </div>  <!-- End of shoutbox-->
  </div><!-- End of col 9 -->
  
  <div class="col-md-3"><!-- Start of col 3 -->
        <div class="galery">
        <div class="galery-title">
          Event Photos
        </div>
        <div class="row">
        {% for photo in event_photos %}
            <div class="col-md-4">
              <a href="../../{{ photo.img }}">
                <img  src="../../{{ photo.img }}" class="img-circle" height="70" width="70"  title="uploaded by {{ photo.author.user.username }}"/>
              </a>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div>
          <ul class="slider-faq">
              <li class="slider-q">
                <span class="galery-title" style="background:#ff661a;">
                  Upload a Photo
                </span>
              </li>    
              <li class="slider-a">
                  <form action="{% url 'Event:add_event_image' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ event_image_form.as_p }}
                    <input type="hidden" name="event" value="{{ event.id }}">
                    <input type="submit" value="Add Event Image">
                  </form>
              </li>         
          </ul>
    </div>
  </div>  <!-- End of container -->
</section>


{% endblock %}
