{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block tabs %}
  {% include "includes/tabs.html" with active_tab='archive' %}
{% endblock %}

{% block content %}

<section>
  <div class="container pre-scrollable">
    <div class="row">
      <div class="panel panel-default ">
          <div class="panel-heading" style = "background-image: linear-gradient(#efc5ca, #d24b5a 40%,  #ba2737);">
          <h4 style = "font-weight: bold;color: white">
            PAST EVENTS
          </h4>
        </div>
        <table class="table table-fixed ">
          <thead>
            <tr>
              <th class="col-md-3">Name</th>
              <th class="col-md-2">Category</th>
              <th class="col-md-2">Ended</th>
              <th class="col-md-1">Hosted by</th>
              <th class="col-md-1">Fee</th>
              <th class="col-md-1">Current capacity</th>
              <th class="col-md-2">Action </th>
            </tr>
          </thead>
          <tbody>
            {% for event in object_list %}
              <tr>
                <td class="col-md-3"> <a href="{% url 'Event:event_detail' event.id %}">  {{ event.name }} </a> </td>
                <td class="col-md-2"> {{ event.category }} </td>
                <td class="col-md-2"> {{ event.date_end|naturaltime|capfirst }} </td>
                <td class="col-md-1"> <a href="{% url 'Profile:profile_detail' event.host.user.id %}">{{ event.host }} </a> </td>
                <td class="col-md-1"> {{ event.fee }} </td>
                {% if event.cur_capacity < event.person_limit %}
                  <td class="col-md-1"> <span class="badge alert-success">{{ event.cur_capacity }}/{{ event.person_limit }}</span> </td>
                {% else %}
                  <td class="col-md-1"> <span class="badge alert-danger">{{ event.cur_capacity }}/{{ event.person_limit }}</span> </td>
                {% endif %}
                {% if request.user.profile in event.profiles.all %}
                  <td class="col-md-2"> <a href="{% url 'Event:event_rate' event.id %}">  Review this event </a> </td>
                {% else %}
                   <td class="col-md-2"> ------------------ </td>
                {% endif %}

              </tr>
            {% empty %}
              <tr>
                <td>No Events yet.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>

{% endblock %}
